<div class="popup popup--shipping">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Заказать грузоперевозку</h2>
      <div class="popup__text">
        <p>Оставьте Ваши данные и мы Вам перезвоним</p>
      </div>

      <form class="popup__form form">
        <div class="form__group">
          <label class="form__label">Ваше имя</label>
          <input
            class="form__input"
            type="text"
            placeholder="Как к Вам обращаться?"
            required
          />
        </div>
        <div class="form__group">
          <label class="form__label">Контактный телефон</label>
          <input
            class="form__input"
            type="tel"
            placeholder="+7 (___) ___ - __ - __"
            required
          />
        </div>
        <div class="form__group">
          <label class="form__label" for="type"
            >Укажите тип грузоперевозки</label
          >
          <select class="select" name="type">
            <option value="default">Выберите из списка</option>
            <option value="prefabricated">Сборные грузоперевозки</option>
            <option value="apartment">Квартирные переезды</option>
            <option value="refrigeration">Рефрижираторные перевозки</option>
            <option value="food">Продовольственные перевозки</option>
            <option value="oversized">Негабаритные грузоперевозки</option>
            <option value="military">Перевозка военнослужащих</option>
            <option value="office">Офисные переезды</option>
            <option value="other">Другое</option>
          </select>
        </div>

        <div class="form-group">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Отправляя заявку я принимаю
              <a href="politics.html" target="_blank"
                >пользовательское соглашение
              </a>
            </span>
          </label>
        </div>
        <button class="form__btn btn" type="submit">Отправить заявку</button>
      </form>
    </div>
  </div>
</div>
<div class="popup popup--call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="popup__wrapper">
      <h2 class="popup__title">Обратный звонок</h2>
      <div class="popup__text">
        <p>Оставьте Ваши данные и мы Вам перезвоним</p>
      </div>

      <form class="popup__form form">
        <div class="form__group">
          <label class="form__label">Ваше имя</label>
          <input
            class="form__input"
            type="text"
            placeholder="Как к Вам обращаться?"
            required
          />
        </div>
        <div class="form__group">
          <label class="form__label">Контактный телефон</label>
          <input
            class="form__input"
            type="tel"
            placeholder="+7 (___) ___ - __ - __"
            required
          />
        </div>

        <div class="form-group">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Отправляя заявку я принимаю
              <a href="politics.html" target="_blank"
                >пользовательское соглашение
              </a>
            </span>
          </label>
        </div>
        <button class="form__btn btn" type="submit">Заказать звонок</button>
      </form>
    </div>
  </div>
</div>
<div class="popup popup--thanks">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="popup__wrapper">
      <h2 class="popup__title">Спасибо!</h2>
      <div class="popup__text">
        <p>Мы свяжемся с Вами в ближайшее время.</p>
      </div>

      <div class="popup__img">
        <img src="images/content/clock-popup.png" alt="Ожидайте">
      </div>
    </div>
  </div>
</div>
