.reviews-card {
  background-color: var(--color-white);
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  max-width: 390px;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 45px;
  position: relative;
  padding-top: 88px;

  &__img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    flex-shrink: 0;

    img {
      border-radius: 50%;
      @include img(cover);
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    color: #5c5c5c;
  }
}
