.footer {
  font-size: 15px;
  color: #9f9f9f;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__by {
    display: flex;
    align-items: center;
    gap: 10px;

    @include breakpointsMaxW($bp-768) {
      order: 1;
    }
  }
}
