<section class="car-park" id="car-park">
  <div class="container">
    <div class="car-park__top">
      <h2 class="car-park__title section-title">
        <span class="section-title__underline">Наш автопарк</span>
      </h2>
      <div class="car-park__text">
        <p>
          в наличии имеется автомобили для любых перевозок, от небольших ящиков
          до негаборитного груза
        </p>
      </div>
    </div>

    <div class="car-park__tabs tabs">
      <div class="tabs__top">
        <ul class="tabs__list">
          <li class="tabs__item">
            <button class="tabs__btn tabs__btn--active" type="button">
              Все
            </button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Газели</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Фургоны</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Грузовеки</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Фуры</button>
          </li>
        </ul>
      </div>

      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 1.8 x 1.9 — до 2 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2.1 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 5 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 6 x 2.2 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.2 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.3 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.2 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.3 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.1 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.2 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.3 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2.1 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2.1 x 2.1 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон 5.4 x 2.3 x 2.45 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.4 x 2.5 x 2.45 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.1 x 2.2 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6.2 x 2.2 x 2.2 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.3 x 2.45 — до 7 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.5 x 2.45 — до 8 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.3 x 2.3 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.3 x 2.45 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.5 x 2.45 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.3 x 2.5 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.3 x 2.5 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.6 x 2.6 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.6 x 2.7 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.5 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.6 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.7 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>

      <div class="tabs__content swiper">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 1.8 x 1.9 — до 2 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 4 x 2.1 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 5 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/1.png" alt="Газель" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Газель — 6 x 2.2 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>

      <div class="tabs__content swiper">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2 x 2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.2 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 4.2 x 2.3 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2 x 2.05 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.1 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.2 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5 x 2.3 x 2.1 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.1 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.2 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.2 x 2.3 x 2.2 — до 3 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2.1 x 2 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 6 x 2.1 x 2.1 — до 3.5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон 5.4 x 2.3 x 2.45 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/2.png" alt="Фургон" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фургон — 5.4 x 2.5 x 2.45 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>

      <div class="tabs__content swiper">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.1 x 2.2 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6.2 x 2.2 x 2.2 — до 5 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.3 x 2.45 — до 7 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 6 x 2.5 x 2.45 — до 8 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.3 x 2.3 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.3 x 2.45 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.2 x 2.5 x 2.45 — до 10 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.3 x 2.5 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.3 x 2.5 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.6 x 2.6 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/3.png" alt="Грузовик" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Грузовик — 7.6 x 2.7 x 2.45 — до 12 тонн
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>

      <div class="tabs__content swiper">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.5 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.6 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img src="images/content/product/4.png" alt="Фура" />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">
                  Фура — 13.6 x 2.7 x 2.45 — до 22 тонн
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
