<section class="car-park">
  <div class="container">
    <div class="car-park__top">
      <h2 class="car-park__title section-title">
        <span class="section-title__underline">Наш автопарк</span>
      </h2>
      <div class="car-park__text">
        <p>
          в наличии имеется автомобили для любых перевозок, от небольших ящиков
          до негаборитного груза
        </p>
      </div>
    </div>

    <div class="car-park__tabs tabs">
      <div class="tabs__top">
        <ul class="tabs__list">
          <li class="tabs__item">
            <button class="tabs__btn tabs__btn--active" type="button">
              до 1,5 тонн
            </button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">до 35 тонн</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">до 5 тонн</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">до 10 тонн</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">до 20 тонн</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">до 50 тонн</button>
          </li>
        </ul>
      </div>

      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">    <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">    <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">    <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
        <li class="tabs__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img
                src="images/content/product/1.png"
                alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
              />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
              <div class="product-card__text">
                <p>грузоподъемность: 2 200 кг</p>
              </div>
            </div>
          </article>
        </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="tabs__content swiper active">
        <ul class="tabs__slides swiper-wrapper">
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
          <li class="tabs__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__img">
                <img
                  src="images/content/product/1.png"
                  alt="ГРУЗОПЕРЕВОЗКИ НА IVECO"
                />
              </div>
              <div class="product-card__info">
                <h3 class="product-card__title">ГРУЗОПЕРЕВОЗКИ НА IVECO</h3>
                <div class="product-card__text">
                  <p>грузоподъемность: 2 200 кг</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
