<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__top">
      <h2 class="contacts__title section-title">
        <span class="section-title__underline">Свяжитесь с нами</span>
      </h2>
      <div class="contacts__text">
        <p>
          Позвоните нам или оставьте заявку на сайте и наши специалисты
          проконсультируют Вас по любому вопросу
        </p>
      </div>
    </div>
    <ul class="contacts__list">
      <li class="contacts__item">
        <a class="contacts__link contacts__link--phone" href="tel:+74951201244">
          <span class="contacts__icon"></span>
          8 (495) 120 12 44
        </a>
      </li>
      <li class="contacts__item">
        <address class="contacts__link contacts__link--location">
          <span class="contacts__icon"></span>
          Москва, Пресненская наб, 12, оф 874
        </address>
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link contacts__link--mail"
          href="mailto:zakaz@autotradis.ru"
        >
          <span class="contacts__icon"></span>
          zakaz@autotradis.ru
        </a>
      </li>
      <li class="contacts__item">
        <button class="contacts__button btn btn-call" type="button">
          Заказать звонок
        </button>
      </li>
    </ul>
  </div>
  <div class="contacts__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A94ab6c473cdf30e1af6fd38e7a4e71e27d3cd1c5707908be7f02d5eeb986e26e&amp;source=constructor"
      width="1200"
      height="480"
    ></iframe>
  </div>
</section>
