<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__top">
      <h2 class="contacts__title section-title">
        <span class="section-title__underline">Свяжитесь с нами</span>
      </h2>
      <div class="contacts__text">
        <p>
          Позвоните нам или оставьте заявку на сайте и наши специалисты
          проконсультируют Вас по любому вопросу
        </p>
      </div>
    </div>
    <ul class="contacts__list">
      <li class="contacts__item">
        <a class="contacts__link contacts__link--phone" href="tel:+74951234567">
          <span class="contacts__icon"></span>
          8 (495) 123 45 67
        </a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link contacts__link--location" href="#">
          <span class="contacts__icon"></span>
          Москва, Название улицы 10, офис 11
        </a>
      </li>
      <li class="contacts__item">
        <a
          class="contacts__link contacts__link--mail"
          href="mailto:info@autotradis.ru"
        >
          <span class="contacts__icon"></span>
          info@autotradis.ru
        </a>
      </li>
      <li class="contacts__item">
        <button class="contacts__button btn" type="button">
          Заказать звонок
        </button>
      </li>
    </ul>
  </div>
  <div class="contacts__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A25bed64014f0243965ccd085a3779761137f7c3facfebaa73b65d08692c60245&amp;source=constructor"
      width="100%"
      height="462"
    ></iframe>
  </div>
</section>
