<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__info">
        <h2 class="descr__title section-title">
          Занимаемся
          <span class="section-title__underline"> грузоперевозками </span>
        </h2>
        <div class="descr__text">
          <p>для бизнесов, компаний и юридических лиц по всей России</p>
        </div>

        <ul class="descr__list">
          <li class="descr__item">
            <div class="descr__img">
              <img
                width="30"
                height="30"
                src="images/content/descr/1.svg"
                alt="Более 100 единиц автотранспорта"
              />
            </div>
            <div class="descr__details">
              <h3 class="descr__heading">Более 100 единиц автотранспорта</h3>
              <div class="descr__descr">
                <p>
                  Собственный автопарк с тоннажностью от 800 кг до 50 тонн. Есть
                  цельнометы, промтоварные фургоны и рефрижераторы.
                </p>
              </div>
            </div>
          </li>
          <li class="descr__item">
            <div class="descr__img">
              <img
                width="30"
                height="30"
                src="images/content/descr/2.svg"
                alt="Гибкие тарифы"
              />
            </div>
            <div class="descr__details">
              <h3 class="descr__heading">Гибкие тарифы</h3>
              <div class="descr__descr">
                <p>
                  Одни из самых доступных тарифов на рынке перевозок. Есть
                  возможность платить по часам или килограммы груза.
                </p>
              </div>
            </div>
          </li>
          <li class="descr__item">
            <div class="descr__img">
              <img
                width="30"
                height="30"
                src="images/content/descr/3.svg"
                alt="Доставка вовремя"
              />
            </div>
            <div class="descr__details">
              <h3 class="descr__heading">Доставка вовремя</h3>
              <div class="descr__descr">
                <p>
                  Подаем машины вовремя и всегда вывозим нужное количество груза
                  в запланированные сроки.
                </p>
              </div>
            </div>
          </li>
          <li class="descr__item">
            <div class="descr__img">
              <img
                width="30"
                height="30"
                src="images/content/descr/4.svg"
                alt="Документообоорот"
              />
            </div>
            <div class="descr__details">
              <h3 class="descr__heading">Документообоорот</h3>
              <div class="descr__descr">
                <p>
                  Подготовим и сразу привезем все необходимые документы, которые
                  будут соответствовать вашим требованиям.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="descr__preview">
    <img src="images/content/descr-bg.png" alt="Камаз едет" />
  </div>
</section>
