<section
  class="location"
  style="background-image: url('images/content/location-bg.jpg')"
>
  <div class="container">
    <div class="location__wrapper">
      <div class="location__preview">
        <img src="images/content/map.png" alt="Карта доставок" />
      </div>
      <div class="location__offer">
        <h2 class="location__title section-title">
          <span class="color-accent">Куда уже доставили</span> грузы для наших
          клиентов
        </h2>
        <div class="location__text">
          <p>
            За все время работы наша компания доказала свою надежность и работу
            на высоком уровне.
          </p>
        </div>

        <button class="location__btn btn btn-shipping" type="button">
          Заказать перевозку
        </button>
      </div>
    </div>
  </div>
</section>
