<section
  class="request request--center"
  style="background-image: url('images/content/form-bg-2.jpg')"
  id="request-center"
>
  <div class="container">
    <div class="request__wrapper">
      <div class="request__offer">
        <h2 class="request__title section-title">
          <span class="color-accent">Закажите</span>
          грузоперевозку прямо сейчас
        </h2>
        <div class="request__text">
          <p>Заполните форму и мы свяжемся с Вами в ближайшее время</p>
        </div>
      </div>

      <div class="request__form">
        <form class="form">
          <div class="form__group">
            <label class="form__label">Ваше имя</label>
            <input
              class="form__input"
              type="text"
              placeholder="Как к Вам обращаться?"
              required
            />
          </div>
          <div class="form__group">
            <label class="form__label">Контактный телефон</label>
            <input
              class="form__input"
              type="tel"
              placeholder="+7 (___) ___ - __ - __"
              required
            />
          </div>
          <div class="form__group">
            <select class="select" name="type" id="type">
              <option value="default">Выберите из списка</option>
              <option value="prefabricated">Сборные грузоперевозки</option>
              <option value="apartment">Квартирные переезды</option>
              <option value="refrigeration">Рефрижираторные перевозки</option>
              <option value="food">Продовольственные перевозки</option>
              <option value="oversized">Негабаритные грузоперевозки</option>
              <option value="military">Перевозка военнослужащих</option>
              <option value="office">Офисные переезды</option>
              <option value="other">Другое</option>
            </select>
          </div>
          <div class="form-group">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" checked />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Отправляя заявку я принимаю
                <a href="politics.html">пользовательское соглашение</a>
              </span>
            </label>
          </div>
          <button class="form__btn btn" type="submit">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>
