<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__top">
      <h2 class="reviews__title section-title">
        <span class="section-title__underline">Что клиенты говорят </span>о нас
        и нашем сервисе
      </h2>
      <div class="reviews__text">
        Мы контролируем скорость, надежность и качество перевозок, а также
        оперативно вносим изменения по вашим персональным требованиям к
        доставке.
      </div>
    </div>

    <div class="reviews__content">
      <div class="reviews__slider swiper">
        <ul class="reviews__slides swiper-wrapper">
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/1.jpg" alt="Елена Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">
                  Елена Вячеславовна, г. Москва
                </h3>
                <div class="reviews-card__text">
                  Все прошло очень четко, слаженно и сопровождалось
                  профессиональным общением. Цены адекватные, услугой осталась
                  довольна! Я всегда очень тщательно выбираю партнеров по своим
                  делам и смело могу рекомендовать компанию.
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/2.jpg" alt="Сергей Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Артем, г. Москва</h3>
                <div class="reviews-card__text">
                  Очень недоверчиво отнёсся к этой компании прочитав отзывы.
                  Позвонив в службу поддержки меня убедили в надежности
                  предоставляемых услуг. Заказал, приехали вовремя, перевезли
                  вещи аккуратно. Спасибо, буду и в предъявлено пользоваться
                  услугами этой компании.
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img
                  src="images/content/reviews/3.jpg"
                  alt="Владимир Иванова"
                />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Александр, г. Москва</h3>
                <div class="reviews-card__text">
                  Спасибо за помощь в перевозке вещей со склада домой. Водитель
                  приехал вовремя с грузчиком (имя не запомнила, к сожалению) .
                  Аккуратно всё загрузили, довезли, выгрузили домой. Спасибо за
                  их великий труд. Профессионально, пунктуально, без суеты и
                  проблем.
                </div>
              </div>
            </div>
          </li>

          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/4.jpg" alt="Елена Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Анна Григорьевна, г. Москва</h3>
                <div class="reviews-card__text">
                  Нами был заказан транспорт для вывоза мебели из Москвы в
                  область. Машина была загружена « под завязку». Удивило
                  бережное отношение к грузу. Все собранное для перевозки было
                  аккуратно погружено. Сердечная благодарность водителю-грузчику
                  и его помощнику.
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/5.jpg" alt="Сергей Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">
                  Сергей Эдуардович, г. Москва
                </h3>
                <div class="reviews-card__text">
                  Отличный сервис! Вежливый и аккуратный сотрудник! Всё как
                  надо, вовремя приехал, быстро и качественно сделал свою
                  работу! Буду рекомендовать своим друзьям!
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img
                  src="images/content/reviews/6.jpg"
                  alt="Владимир Иванова"
                />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Владимир, г. Москва</h3>
                <div class="reviews-card__text">
                  Работали с компанией первый раз, все было на высшем уровне,
                  четко в срок без каких-либо проблем. Рекомендуем компанию как
                  профессионалов своего дела. Спасибо за работу, надеемся на
                  дальнейшее сотрудничество!
                </div>
              </div>
            </div>
          </li>

          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/7.jpg" alt="Елена Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Николай, г. Москва</h3>
                <div class="reviews-card__text">
                  Очень ответственная и хорошо организованная компания.
                  Загрузка, выгрузка все по времени, как в договоре. Оплата без
                  задержек .,все вопросы решаются мгновенно. Будем надеяться на
                  дальнейшее сотрудничество!
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img src="images/content/reviews/8.jpg" alt="Сергей Иванова" />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Виктор Андронов, г. Москва</h3>
                <div class="reviews-card__text">
                  Работали не первый раз! Ответственный и дисциплинированный
                  перевозчик! Приятно работать с грамотными и добросовестными
                  людьми. Удачи Вам в делах! Надеемся на дальнейшее
                  сотрудничество! Рекомендуем Всем!
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__slide swiper-slide">
            <div class="reviews-card">
              <div class="reviews-card__img">
                <img
                  src="images/content/reviews/9.jpg"
                  alt="Владимир Иванова"
                />
              </div>
              <div class="info">
                <h3 class="reviews-card__title">Виктор, г. Москва</h3>
                <div class="reviews-card__text">
                  Надёжная и добросовестная фирма! Оперативное оформление
                  документов и расчет за выполненные работы чётко и в срок,без
                  задержек, согласно условиям заявки, менеджер всегда на связи.
                  Приятно работать с такой фирмой! Надеемся на дальнейшее
                  сотрудничество!
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
