<section class="services" id="services">
  <div class="container">
    <h2 class="services__title section-title">
      <span class="section-title__underline">
        Предоставляем полный комплекс услуг
      </span>
      по грузоперевозкам
    </h2>

    <ul class="services__list">
      <li class="services__item">
        <article class="services-card services-card--associated">
          <div class="services-card__img">
            <img
              src="images/content/services/1.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">Попутные грузоперевозки</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--prefabricated">
          <div class="services-card__img">
            <img
              src="images/content/services/2.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">СБОРНЫЕ грузоперевозки</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--appartment">
          <div class="services-card__img">
            <img
              src="images/content/services/3.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">КВАРТИРНЫЕ ПЕРЕЕЗДЫ</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--refrigerated">
          <div class="services-card__img">
            <img
              src="images/content/services/4.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">Рефрижираторные перевозки</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--food">
          <div class="services-card__img">
            <img
              src="images/content/services/5.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">Продовольственные перевозки</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--military">
          <div class="services-card__img">
            <img
              src="images/content/services/6.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">перевозка военнослужащих</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--oversized">
          <div class="services-card__img">
            <img
              src="images/content/services/7.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">негабаритные перевозки</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
      <li class="services__item">
        <article class="services-card services-card--office">
          <div class="services-card__img">
            <img
              src="images/content/services/8.jpg"
              alt="Попутные грузоперевозки"
            />
            <div class="services-card__badge"></div>
          </div>
          <div class="services-card__info">
            <h3 class="services-card__title">офисные переезды</h3>
            <p class="services-card__text">от 100 до 20 тонн</p>
            <button
              class="services-card__btn btn btn--transparent"
              type="button"
            >
              ЗАКАЗАТЬ
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
